[run]
source=
    game
omit =
    test*.py
    */__init__.py

[report]
exclude_lines =
    def __str__
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if __name__ == .__main__.:  # pragma: no cover